<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<body>

<nav th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-dark bg-primary shadow">

    <div class="container">

        <a class="navbar-brand fw-bold"
           th:href="@{/}">

            <i class="bi bi-heart-pulse-fill"></i>
            Hospital Online

        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">

                    <a class="nav-link"
                       th:href="@{/}">
                        Trang chủ
                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       th:href="@{/doctors}">
                        Bác sĩ
                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       th:href="@{/login}">
                        Đăng nhập
                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>

</body>

</html>